# Node modules
node_modules/

# Build output
dist/
package/

# Editor directories and files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache
*.tsbuildinfo
.npm
.eslintcache
.stylelintcache
.prettiercache
.biomecache
vite.config.ts.timestamp*
vitest.config.ts.timestamp*

# Husky
.husky/_

# Auto Imports
types/imports.d.ts
types/components.d.ts
types/src/*

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Other
.DS_Store
Thumbs.db
